-# Created by Christopher Smith and Amanda Burton
- unless @degree.errors.empty?
    #warning
        Errors prevented this movie from being #{controller.action_name}d:
        %ul
            - @degree.errors.full_messages.each do|error|
                %li= error
%div{:class => 'form-group'}
    = label :degree, :name, 'Name'
    = text_field :degree, :name, :class => 'form-control'