-# Ian Chen - 4/09/2019
-# the documennation about chart is on https://www.chartjs.org
%h1 Charts
%br
%br
%h3 Degree Type by Gender
= degree_by_gender
= column_chart @students.joins(:student_detail).joins(:degrees).group(:sex).group(:degree_type_id).count
= column_chart @students.joins(:student_detail).joins(:student_remedial).group(:sex).group(:remedial0301).count
%br
%br
%h3 Admin
= column_chart User.group(:role_id).count
