-# Ian Chen - 4/09/2019
-# the documennation about chart is on https://www.chartjs.org
%h1 Charts
%br
%br
%h3 Alumni locations
%canvas#myChart{height: "50", width: "200"}

%br
%br
%h3 Admin
= column_chart User.group(:role_id).count
