%footer.d-print-none
    <hr>
    %a{"data-target" => "#helpModal", "data-toggle" => "modal", href: "javascript:void(0)"} Get Help
    <p>
    5345 Atlanta Highway, Montgomery, AL 36109<br>
    ©2018 All rights reserved