-# Created on 04/03/18 by Amanda Burton and Christopher Smith
%div{:class => 'form-group'}
    = label :degree_id, :title, 'Degrees'
    = select_tag 'degree_id', options_for_select(@degrees.collect{ |u| [u.name, u.id] })