

%table#student.table
  %thead
    %tr
      %th University
      %th Degree
      %th Degree Type

  %tbody
    - @grad_degrees.each do |grad_degrees|
      %tr
        %td= "Placeholder"
        %td= "Placeholder"
        %td= "Placeholder"