

-#= button_to 'add new grad school', add_grad_school_path(@id) ,:method => :get

%table#student.table
  %thead
    %tr
      %th University
      %th Degree
      %th Degree Type

  %tbody
    - @grad_degrees.each do |grad_degrees|
      %tr
        %td= "Placeholder"
        %td= "Placeholder"
        %td= "Placeholder"