-# Created by Christopher Smith and Amanda Burton
-# on: April 6, 2018 
%h2 Create New College

= form_tag colleges_path, :method => :post do

  = render :partial => 'colleges_form_fields'

  %div{:class => 'form-group'}
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
  

%p
  = link_to 'Cancel', colleges_path
  
  