%h2 Edit Employer

= form_tag employer_path(@employer), :method => :put do

  = render :partial => 'employer_form'
  
%p
  = render partial: 'shared/cancel_button', locals: {path: employer_path(@employer)}
%p
  = render partial: 'shared/back_to_list_button', locals: {list_name: "Employer", path: employers_path}