
%h2 new degree for 
= @student.first_name
= form_tag submit_student_add_earned_degree_path(@id), :method => :get do

    = render :partial => 'earned_degree'
    %div{:class => 'form-group'}
        = submit_tag 'Save Changes', :class => 'btn btn-primary'