// Ethan Widen - 2/20/18
%nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-print-none
    = link_to(image_tag('AlumniTrackerLogo.jpg', :title=>'Home'), root_path, :class => 'navbar-brand')
    %div.collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
            %li.navbar-item
                = link_to 'Sign in with Google', login_path, :class => 'nav-link' if session[:user_id].nil?
                = link_to 'Logout', logout_path, :class => 'nav-link' unless session[:user_id].nil? 
                
                